# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcshareddata/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3

# Firebase
google-services.json
GoogleService-Info.plist

# Env / secrets
.env
*.keystore
*.jks

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store
